body {
  font-family: "Poppins", sans-serif;
  background: #4e73df;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 2rem;
  margin-top: 15vh;
  color: #ffffff;
}

.reset {
  cursor: pointer;
}

.container {
  max-width: 700px;
  margin: 0 auto;
  padding: 10px;
}

.profile-container {
  background: linear-gradient(145deg, #ffffff, #f8f9fc);
  border-radius: 15px;
  padding: 2em;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2), 0 -8px 15px rgba(0, 0, 0, 0.05);
  animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.profile-form h3 {
  margin-bottom: 1.5em;
  color: #4e73df;
  font-size: 1.8em;
  font-weight: bold;
  text-align: center;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.profile-form label {
  display: block;
  margin-bottom: 0.5em;
  color: #4e73df;
  font-weight: bold;
  font-size: 1.1em;
}

.input-container {
  position: relative;
  margin-bottom: 2em;
}

.profile-form input,
.profile-form button {
  display: block;
  width: 100%;
  font-size: 1em;

  padding: 0.75em 0.3em;
  border-radius: 8px;
  border: 1px solid #d1d1d1;
  outline: none;
  transition: all 0.3s ease-in-out;
}

.profile-form input:focus {
  border: 1px solid #4e73df;
  box-shadow: 0 0 8px rgba(78, 115, 223, 0.3);
}

.toggle-password {
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 1.2em;
  color: #4e73df;
}

.toggle-password:hover {
  color: #2e59d9;
  transition: color 0.3s;
}

.profile-form button {
  background: linear-gradient(145deg, #d1d1d1, #e6e6e6);
  color: #4e73df;
  border: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-weight: bold;
}

.profile-form button:hover {
  background: linear-gradient(145deg, #4e73df, #3b5bcd);
  color: #ffffff;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  transform: scale(1.05);
  transition: all 0.3s ease-in-out;
}

.error-message {
  color: red;
  font-size: 0.9em;
  position: absolute;
  top: 100%;
  left: 0;
  height: 1.5em;
  line-height: 1.5em;
}

.profile-form input.error {
  border-color: red;
}

@media (max-width: 455px) {
  .profile-container {
    padding: 1.5em;
  }

  .profile-form h3 {
    font-size: 1.5em;
  }

  .profile-form label {
    font-size: 1em;
  }

  .profile-form input,
  .profile-form button {
    font-size: 0.9em;
    padding: 0.65em;
  }

  .toggle-password {
    font-size: 1em;
  }
}
